append() allows you to add an element to the end of a list

In [3]:
list1=[1,2,3]

In [5]:
list1.append(4) #appended twice that's why there are 2 4's
list1

[1, 2, 3, 4, 4]

extend() allows you to add multiple elements in the form of a list onto an existing list

In [6]:
list2=[1,2,3]

In [7]:
list2.extend([4,5,6])
list2

[1, 2, 3, 4, 5, 6]

insert() allows you to insert an element into a list at any position not just the end

In [8]:
list3=[10,20,30,40]

In [9]:
list3.insert(2,100)
list3

[10, 20, 100, 30, 40]

remove() allows you to permanately remove any element (the first occurence if it appears multiple times) from a list

In [10]:
list4=[100,200,20,300,400]

In [11]:
list4.remove(20)
list4

[100, 200, 300, 400]

count() counts how many times a specific element appears in a list and returns it

In [12]:
list5=[1, 2, 2, 1, 4, 3, 0 ,1]

In [15]:
list5.count(1)

3

index() tells you the position of an element(first occurence of that element) if it appears in the list

In [16]:
list6=[3,5,3,6,7,8]

In [18]:
list6.index(6)

3

pop() removes an element at a certain index and returns the element that it removed

In [19]:
list7=[1,2,3,4,4,5]

In [20]:
list7.pop(3)

4

In [21]:
list7

[1, 2, 3, 4, 5]

sorted() temporarily sorts a list into chronological order while not changing the lis

In [23]:
list8=[4,6,8,3,4,1]

In [24]:
sorted(list8)

[1, 3, 4, 4, 6, 8]

In [25]:
list8

[4, 6, 8, 3, 4, 1]

copy() allows you to copy a list into a different list therfore you could change things in the copied list without changing the original list

In [26]:
list9=["Hello", 4,45, 8]

In [27]:
c1=list9.copy()
c1

['Hello', 4, 45, 8]

clear() permanently removes all elements from a list

In [28]:
list10=[3,7,95,60]

In [31]:
list10.clear()

In [32]:
list10

[]

any() allows you to iterably check every element of the list with a conditiona and it will return either true or false. If any of the elements of the list meet the condition it will return True.

In [34]:
list11=[1,2,3,6,8,9]

In [40]:
any(list11)<10

True

In [41]:
any(list11)<5

True

In [39]:
any(list11)>10

False

filter() returns a new list of elements that are true for the function

In [42]:
import random 
list12=[random.randrange(1,11) for i in range(10)]

In [43]:
list12

[7, 9, 2, 10, 4, 10, 7, 6, 1, 4]

In [46]:
def greater_5(x):
    if x>5:
        return x
list(filter(greater_5, list12))

[7, 9, 10, 10, 7, 6]

list() returns elements in Python in a list. Used most when transforming tuples into lists

In [53]:
tuple1=(1,3,4,5,3)

In [54]:
list(tuple1)

[1, 3, 4, 5, 3]

map() returns a list of elements that define the function but also returns "none" if it does not define the function

In [55]:
list13=[1,7,8,5,10,13,40]

In [56]:
list(map(greater_5,list13))

[None, 7, 8, None, 10, 13, 40]

### b.)

cmp() is used to compare elements in seperate tuples. If the first tuple compared to the second is smaller in value it will return '-1', if it greater than it will return '1', and if it was the exact same data '0'

In [59]:
tuple1, tuple2= (145, 400), (200, 600)

In [62]:
cmp(tuple1, tuple2) # for some reason the funtion isn't working

NameError: name 'cmp' is not defined

len() returns the number of elements in the tuple

In [63]:
tuple3=(3,"hey", 5, 7, 40)

In [64]:
len(tuple3)

5

max() returns the elements of the highest value from the tuple

In [65]:
tuple4=[1,70,500,4,34]

In [66]:
max(tuple4)

500

tuple(seq) converts seq which could be elements or list into a tuple

In [67]:
hw=[34,57,40,3]

In [68]:
tuple(hw)

(34, 57, 40, 3)

## PA4, Drew Buhr, CS-150-01